body {
  background-color: #132743;
}

nav {
  display: flex;
  align-items: center;
  color: #132743;
  font-size: 15px;
}

.nav-container {
  position: fixed;
  background-color: #6ff892;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #132743;
  font-size: 15px;
}

.jumbotron {
  background-color: #132743 !important;
  display: flex;
  justify-content: center;
  color: #e8630a;
  text-align: center;
}

.navRight {
  display: flex;
  flex-direction: row-reverse;
}

#projects {
  display: flex;
}
