body {
  background-color: #132743;
}

nav {
  color: #132743;
  font-size: 15px;
}

.nav-container {
  background-color: #6ff892;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #132743;
  font-size: 15px;
  z-index: 1;
}

.jumbotron {
  background-color: #132743 !important;
  color: #e8630a;
  text-align: center;
}
