body {
  background-color: #132743;
  box-sizing: content-box;
}

nav {
  display: flex;
  align-items: center;
  color: #132743;
  font-size: 15px;
}

i {
  width: 400px;
}

.nav-container {
  background-color: #6ff892;
}

.jumbotron {
  background-color: #132743 !important;
  display: flex;
  justify-content: center;
  color: #e8630a;
  text-align: center;
}

.navRight {
}

#work {
  z-index: 0;
}
